html, body {
    height: auto;
}

* {
  font-family: Sailec, sans-serif !important;
}

/* Elements */

.button {
    display: inline-block;
    margin: 0 10px;
    padding: 0 25px;
    background-color: #fff;
    border: 1px solid #464b50;
    border-radius: 10px;
    color: #464b50;
    font-family: Sailec, sans-serif !important;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: -0.66px;
    line-height: 42px;
    height: 42px;
    white-space: normal;
    text-align: center;
}

.logo {
  height: 26px;
  width: 120px;
}

/* Typography */

p {
  color: #929ba4;
  font-size: 18px;
  line-height: 1.5;
}

p:not(:last-child) {
  margin-bottom: 30px;
}

h2 {
  margin-bottom: 25px;
  font-size: 30px;
  font-weight: 500;
  line-height: 1.33;
}

.title {
  font-size: 48px;
  text-align: center;
}

h5 {
  text-align: center;
}


/* Header */

.header  {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  box-shadow: 0 2px 16px rgba(0,0,0,.1);
  background-color: #fff;
}

.header-content {
  padding-top: 24px;
  padding-bottom: 24px;
}

nav.level {
  padding-right: 20px;
  padding-left: 20px;
}

@media screen and (min-width: 1088px) {

  nav.level {
    padding-right: 0;
    padding-left: 0;
  }

}

.nav-link {
  display: none;
  padding: 3px 22px 0;
  color: #464b50;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: -0.66px;
  line-height: 41px;
}

@media screen and (min-width: 500px) {

  .nav-link {
    display: block;
  }

}

/* Layout */

.main {
  margin-top: 9px;
  padding-top: 82px;
  background-image: url('../images/intro-bg-gradient-underlay.png'), url('../images/piping-hero.png');
  background-position: center 250px, center -15px;
  background-repeat: no-repeat;
  background-size: 738px 363px, 1440px 1390px;
  overflow: hidden;
}

.section {
  padding-top: 0;
  padding-bottom: 0;
}

.section h2,
.section p {
  position: relative;
  z-index: 10;
}

@media screen and (min-width: 1280px) {
  .container {
    max-width: 1320px;
    margin: 0 auto;
    padding: 0 10px;
  }

}


/* Hero */

.hero-body {
  padding: 200px 0 0;
}

.hero .title {
  margin-bottom: 40px;
  font-weight: 700;
}

.hero p {
  max-width: 800px;
  margin-right: auto;
  margin-left: auto;
  color: #929ba4;
  font-size: 24px;
  line-height: 1.33;
  text-align: center;
}

.hero-cta {
    max-width: 650px;
    margin: 181px auto;
    padding: 0;
    display: block;
    text-align: center;
}

/* Section: Intro */

.section-intro p {
  margin-right: auto;
  margin-left: auto;
  max-width: 630px;
  color: #464b50;
  font-size: 32px;
  line-height: 1.25;
  text-align: center;
}

.section-intro-question {
  margin: 225px auto 75px;
  font-weight: 500;
}


/* Section: Request */

.section-request {
  position: relative;
  padding: 90px 0 50px;
}

.section-request .container {
  max-width: 100%;
  width: 100%;
}

.section-request .title {
  font-weight: normal;
}

.section-request .input {
  padding-top: 9px;
  padding-left: 11px;
  width: 250px;
  height: 41px;
  border: 1px solid #464b50;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 2px 5px 0 #d5dadf;
  font-weight: 500;
}

section.vp-1,
section.vp-3
{
    max-width: 1320px;
    margin: 0 auto;
    padding: 75px 10px;
}
section.vp-2,
section.vp-4 {
    max-width: 1320px;
    margin: 0 auto;
    padding: 75px 10px;
}

.row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    align-items: center;
}

.content-left {
    flex: 0 0 34%; 
    max-width: 34%;
}

.image-right {
  flex: 0 0 66%;
  max-width: 66%;
  text-align: right;
}

.image-left {
    flex: 0 0 66%; 
    max-width: 66%;
}
.content-right {
    flex: 0 0 34%;
    max-width: 34%;
}

.section-request .container {
    position: relative;
    padding: 150px 0;
}

.input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #464b50;
}
.input::-moz-placeholder { /* Firefox 19+ */
  color: #464b50;
}
.input:-ms-input-placeholder { /* IE 10+ */
  color: #464b50;
}
.input:-moz-placeholder { /* Firefox 18- */
  color: #464b50;
}

/* Footer */

.footer {
    position: relative;
    background-color: #fff;
    padding: 0 1.5rem 50px;
}

.footer a {
  color: #464b50;
}

.footer-copyright {
  color: #929ba4;
}

/* Responsive Styles */

@media screen and (max-width: 767px) {
  .section-request .field.is-grouped {
    flex-wrap: wrap;
  }

  .section-request .field.is-grouped>.control {
    width: 100%;
    padding-bottom: 20px;
    text-align: center;
  }

  .hero-body {
    padding: 60px 10px;
  }

  section.section.section-intro {
    padding: 0px 20px 35px;
  }

  .section-intro-question {
    margin: 20px auto 0;
  }

  p:not(:last-child) {
    margin-bottom: 15px;
  }

  .section-request {
    padding: 50px 0 0 0; 
  }

  .large-text {
    height: auto;
    line-height: 1.3;
    margin-bottom: 15px;
    padding: 10px;
  }

  section.vp-1, 
  section.vp-2,
  section.vp-3,
  section.vp-4 {
    padding: 30px 0;
  }

  .mob-reverse {
    flex-direction: column-reverse;
  }

  .image-left {
    flex: 0 0 100%;
    max-width: 100%;
    padding: 0 20px 20px;
  }

  .image-right {
    flex: 0 0 100%;
    max-width: 100%;
    text-align: center; 
    padding: 0 20px 20px;
  }
  
  .content-right {
    flex: 0 0 100%;
    max-width: 100%;
    padding: 0 20px;
  }

  .content-left {
    flex: 0 0 100%;
    max-width: 100%;
    padding: 0 20px;
  }

  .section-request .container {
    height: auto;
    padding: 0;
  }

  .footer {
    padding: 35px 0;
  }

  .hero-cta {
   	margin: 55px auto 0;
    padding: 0;
  }

  .main {
    background-size: 738px 363px, 1440px 750px;
  }
}

@media screen and (min-width: 768px) and (max-width: 989px) {
  
  .hero-body {
    padding: 100px 0 0;
  }

  section.section.section-intro {
    padding: 75px 0 0;
  }

  .section-intro-question {
    margin: 50px auto;
  }

   .section-request { 
      padding: 50px 0 0 0;
  }

  .section-request .container {
    margin-top: 0;
  }

  .section-request .field.is-grouped {
    flex-wrap: wrap;
  }

  .section-request .field.is-grouped>.control {
    width: 100%;
    padding-bottom: 20px;
    text-align: center;
  }

  .image-left {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .image-right {
    flex: 0 0 50%;
    max-width: 50%;
    text-align: right;
  }
  
  .content-right {
    flex: 0 0 50%;
    max-width: 50%;
    padding: 0 20px;
  }

  .content-left {
    flex: 0 0 50%;
    max-width: 50%;
    padding: 0 20px;
  }

  section.vp-1,
  section.vp-2,
  section.vp-3, 
  section.vp-4 {
    padding: 35px 10px;
  }
  
  .section-request .container {
    height: auto;
    padding: 50px 0;
    background-size: cover;
  }

  .footer {
   padding: 35px 1.5rem;
  }

  .hero-cta {
    margin: 65px auto 0;
    padding: 25px 0;
  }

  .main {
    background-size: 738px 363px, 1440px 680px;
  }
}

@media screen and (min-width: 990px) and (max-width: 1199px) {

  .hero {
      min-height: auto;
  }

  .hero-body {
    padding: 100px 0 0;
  }

  section.section.section-intro{
    padding: 25px 0 0;
  }

  .section-intro-question {
    margin: 40px auto;
  }

  .section-request .container {
    margin-top: 0;
  }

  section.vp-1,
  section.vp-2,
  section.vp-3, 
  section.vp-4 {
    padding: 50px 10px;
  }

  .image-left {
    flex: 0 0 55%;
    max-width: 55%;
  }

  .image-right {
    flex: 0 0 55%;
    max-width: 55%;
    text-align: right;
  }
  
  .content-right {
    flex: 0 0 45%;
    max-width: 45%;
    padding: 0 20px;
  }

  .content-left {
    flex: 0 0 45%;
    max-width: 45%;
    padding: 0 20px;
  }

  .section-request {
    padding: 0;
  }

  .footer {
    padding: 50px 1.5rem;
  }

  .hero-cta {
    margin: 100px auto;
    padding: 25px 0; 
  }

  .main {
    background-size: 738px 363px, 1440px 750px;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1399px) {
  
  .section-intro-question {
    margin: 50px auto;
  }

  .section-request .container {
    margin-top: 0;
  }

  .hero-body {
    padding: 150px 0 30px;
  }

  section.section.section-intro {
    padding: 0px 0 0;
  }

  .hero-cta {
    margin: 170px auto;
  }
} 

@media screen and (min-width: 730px) {

  .footer .level,
  .footer .level .level-left,
  .footer .level .level-right {
      display: flex;
  }

  .footer .level .level-item {
    flex-grow: 1;
    margin-right: 30px;
  }
}

/* Legal */

.legal-page .section {
  margin-top: 280px;
  margin-bottom: 130px;
}

.legal-page h1 {
  margin-bottom: 60px;
  font-size: 48px;
  font-weight: bold;
}

@font-face {
  font-family: 'Sailec';
  src: url('../fonts/Type-Dynamic---Sailec-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Sailec';
  src: url('../fonts/Type-Dynamic---Sailec-Hairline-Italic.otf') format('opentype'), url('../fonts/Type-Dynamic---Sailec-Regular-Italic.otf') format('opentype');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'Sailec';
  src: url('../fonts/Type-Dynamic---Sailec-Black-Italic.otf') format('opentype');
  font-weight: 900;
  font-style: italic;
}
@font-face {
  font-family: 'Sailec';
  src: url('../fonts/Type-Dynamic---Sailec-Bold-Italic.otf') format('opentype');
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: 'Sailec';
  src: url('../fonts/Type-Dynamic---Sailec-Thin-Italic.otf') format('opentype');
  font-weight: 100;
  font-style: italic;
}
@font-face {
  font-family: 'Sailec';
  src: url('../fonts/Type-Dynamic---Sailec-Black.otf') format('opentype');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'Sailec';
  src: url('../fonts/Type-Dynamic---Sailec-Thin.otf') format('opentype');
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: 'Sailec';
  src: url('../fonts/Type-Dynamic---Sailec-Medium-Italic.otf') format('opentype');
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: 'Sailec';
  src: url('../fonts/Type-Dynamic---Sailec-Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Sailec';
  src: url('../fonts/Type-Dynamic---Sailec-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Sailec';
  src: url('../fonts/Type-Dynamic---Sailec.otf') format('opentype'), url('../fonts/Type-Dynamic---Sailec-Hairline.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Sailec';
  src: url('../fonts/Type-Dynamic---Sailec-Light-Italic.otf') format('opentype');
  font-weight: 300;
  font-style: italic;
}
